.popx-popup-wrap {
	visibility: hidden;
    opacity: 0;
    transition: all .4s;
    z-index: 9999999;
}
.popx-popup-open  {
	visibility: visible;
    opacity: 1;
}
.popx-popup-bg-overly {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
}
.popx-popup-top-inner {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) !important;
	left: 50%;
}
.popx-popup-close {
    position: absolute;
    top: -15px;
    right: -13px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.popx-popup-content-wrap {
    background: #fff;
    padding: 20px;
    border: 1px solid #ffdada;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    max-width: 500px;
}

.popx-position-bottom-right .popx-popup-top-inner,
.popx-position-top-right .popx-popup-top-inner,
.popx-position-top-left .popx-popup-top-inner,
.popx-position-bottom-left .popx-popup-top-inner {
	transform: none !important;
    position: fixed !important;
}
.popx-position-bottom-right .popx-popup-top-inner {
	left: auto;
    right: 17px;
    bottom: 15px;
    top: auto;
}
.popx-position-top-right .popx-popup-top-inner {
	right: 17px;
    bottom: auto;
    top: 24px;
    left: auto;
}
.popx-position-top-left .popx-popup-top-inner {
	right: auto;
    bottom: auto;
    top: 24px;
    left: 8px;
}
.popx-position-bottom-left .popx-popup-top-inner {
	right: auto;
    bottom: 10px;
    top: auto;
    left: 15px;
}
.popx-position-center .popx-popup-top-inner {
	top: 50%;
    transform: translate(-50%, -50%) !important;
    left: 50%;
    position: fixed;
}
.popx-popup-show {
	visibility: visible;
	opacity: 1;
}